<div class="px-6 py-6 md:w-[40rem] lg:w-[60rem] xl:w-[80rem]">
    <div class="flex flex-col">
        <section class="flex items-center justify-between">
            <p class="text-normal text-primary-slate-gray">Found 200 countries</p>
            <div class="relative w-[30%]">
                <span class="absolute left-1 flex h-full items-center">
                    <img src="../../../assets/svg/Search.svg" class="h-6 w-6 hover:cursor-pointer" alt="stars" />
                </span>
                <input
                    type="text"
                    class="w-full rounded-lg bg-primary-dark-charcoal p-3 pl-10 text-primary-slate-gray outline-none"
                    placeholder="Search by Name, Region, Subregion"
                />
            </div>
        </section>
    </div>
</div>
